@charset "UTF-8";
body{
    background-color: lightgray;
    font-size: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: lightsalmon;
    background-color: whitesmoke
}
h2{
    color: lightcoral;
    background-color: whitesmoke;
}
p{
    font-size: 20px;

}